{% extends "account/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Сброс пароля</h3>
        <p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.</p>
    </div>
    <div class="uk-card-body">
        <form class="uk-form-horizontal"
              method="post"
              action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            {% for field in form %}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ error | escape }}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <div class="uk-margin-small">
                <label class="uk-form-label"
                       for="{{ form.email.id_for_label }}">
                    E-mail
                </label>
                <div class="uk-form-controls">
                    <input class="uk-input"
                           id="{{ form.email.id_for_label }}"
                           name="{{ form.email.name }}"
                           required
                           type="email">
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-form-controls">
                    <button class="uk-button uk-button-primary"
                            type="submit">
                        Сбросить мой пароль
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="uk-card-footer">
        <p><a href="{% url 'contacts' %}">Свяжитесь с нами</a>, если у вас возникли сложности со сменой пароля.</p>
    </div>
</div>

{% endblock %}
