{% extends "account/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Сброс пароля</h3>
    </div>
    <div class="uk-card-body">
        <p>
            Мы отправили вам письмо. Пожалуйста, свяжитесь с нами, если не получили его в течение нескольких минут.
        </p>
    </div>
</div>

{% endblock %}
