{% extends "layout/app.html" %}

{% block title %}
Аукционы
{% endblock %}

{% block content %}

{% if latest_lot_list %}
<div class="uk-flex-inline uk-flex-wrap uk-width-1-1">
    {% for lot in latest_lot_list %}
    <div class="uk-padding-small uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-width-1-4@xl">
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-background-cover uk-width-1-1 uk-height-medium uk-inline"
                 style="background-image: url({{ lot.image.url }});">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <p>{{ lot.name }}</p>
                </div>
            </div>
            <div class="uk-card-body uk-flex uk-flex-center">
                <div class="uk-grid-small uk-child-width-auto"
                     uk-grid
                     uk-countdown="date: {{ lot.finish | date:'c' }}">
                    <div>
                        <div class="uk-countdown-number uk-countdown-days uk-text-large uk-flex uk-flex-center"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-text-small uk-visible@s">Дней
                        </div>
                    </div>
                    <div class="uk-countdown-separator uk-text-large">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-hours uk-text-large uk-flex uk-flex-center"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-text-small uk-visible@s">
                            Часов
                        </div>
                    </div>
                    <div class="uk-countdown-separator uk-text-large">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-minutes uk-text-large uk-flex uk-flex-center"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-text-small uk-visible@s">
                            Минут
                        </div>
                    </div>
                    <div class="uk-countdown-separator uk-text-large">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-seconds uk-text-large uk-flex uk-flex-center"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-text-small uk-visible@s">
                            Секунд
                        </div>
                    </div>
                </div>
            </div>
            <a class="uk-button uk-button-secondary uk-button-large uk-width-1-1"
               href="/lots/{{ lot.id }}/">
                Посмотреть
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}

<p>Нет лотов</p>

{% endif %}
{% endblock %}