<div class="uk-section uk-section-small uk-light uk-section-secondary">
    <div class="uk-container uk-container-expand uk-flex uk-flex-between uk-flex-middle">
        <div>
            © 2018 Rodger's Auctions
        </div>
        <div class="">
            <a href="https://twitter.com/rodjer200586"
               class="uk-icon-button uk-margin-small-right uk-button-primary"
               target="_blank"
               uk-icon="twitter"></a>
            <a href="https://www.facebook.com/alexei.sindjukov"
               class="uk-icon-button uk-margin-small-right uk-button-primary"
               target="_blank"
               uk-icon="facebook"></a>
            <a href="https://github.com/RODJER200586"
               class="uk-icon-button uk-margin-small-right uk-button-primary"
               target="_blank"
               uk-icon="github"></a>
            <a href="https://www.instagram.com/rodjer200586/"
               class="uk-icon-button uk-margin-small-right uk-button-primary"
               target="_blank"
               uk-icon="instagram"></a>
            <a href="https://www.youtube.com/channel/UCopnUfaBbQtJHZZYuHM7erg"
               class="uk-icon-button uk-margin-small-right uk-button-primary"
               target="_blank"
               uk-icon="youtube"></a>
            <a href="https://plus.google.com/u/0/103036066982512077629"
               class="uk-icon-button uk-button-primary"
               target="_blank"
               uk-icon="google-plus"></a>
        </div>
    </div>
</div>