<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
        {% load static %}
        <a class="uk-navbar-item uk-logo" href="/">
            <img src="{% static 'images/logo_48.png' %}"/>
            <div class="uk-margin-left">Roger's Auctions</div>
        </a>
        <ul class="uk-navbar-nav">
            <li>
                <a href="/lots/">Аукционы</a>
            </li>
            <li>
                <a href="/contacts/">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
            <li>
                <a href="javascript: void(0);">{{ user.username }}</a>
                <div class="uk-navbar-dropdown uk-background-secondary">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="{% url 'account_reset_password' %}">Сменить пароль</a></li>
                        <li><a href="{% url 'account_change_password' %}">Сброс пароля</a></li>
                        <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'account_login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</nav>